<div class="row d-flex">
    <div class="col-6 col-judul">
      <h4>Semua Tiket</h4>
    </div>
    <div class="col-6 col-judul d-flex justify-content-end">
      <div class="dropdown show sort">
        <a class="btn dropdown-button d-flex align-items-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="sort material-icons">sort</i>
          <span>Sort</span>                          
            </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <option class="dropdown-item" href="#">A - Z</option>
          <option class="dropdown-item" href="#">Z - A</option>
          <option class="dropdown-item" href="#">Event Baru</option>
          <option class="dropdown-item" href="#">Event Lama</option>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="container-card">
      <div class="row d-flex justify-content-center">
        <div class="col-4 con-card col-card d-flex align-items-center justify-content-center">
          <a href="">
          <div class="card">
            <div class="container-gambar">
              <img class="card-img-top" src="/src/img/banner/banner-card/Fashion Modern Living Room Large Area Rugs Abstract Art Oil Painting Pink Golden Carpet Rug Bedroom Bedside Non-Slip Floor Mats.png" alt="Card image cap" width="100%" height="96px">
            </div>
            <div class="card-body">
              <h5 class="card-title">ONLINE WEBINAR</h5>
              <div class="card-text d-flex">
                <i class="material-icons">date_range</i>
                <p>
                  24 July 2021 - 29 July 2021
                </p>
              </div>
              <div class="card-text d-flex align-items-center waktu">
                <i class="material-icons">schedule</i>
                <p>                  
                  10.00 - 14.00 WIB
                </p>
              </div>
              <div class="card-button justify-content-end">
                <p class="mulai-dari text-end">Mulai dari</p>
                  <h6 class="harga text-end">Rp 90.000 / orang</h6>
              </div>
            </div>
          </div>
          </a>
        </div>  
        <div class="col-4  con-card col-card con-card col-card d-flex align-items-center justify-content-center">
          <a href="">
          <div class="card">
            <div class="container-gambar">
              <img class="card-img-top" src="/src/img/banner/banner-card/Fashion Modern Living Room Large Area Rugs Abstract Art Oil Painting Pink Golden Carpet Rug Bedroom Bedside Non-Slip Floor Mats.png" alt="Card image cap" width="100%" height="96px">
            </div>
            <div class="card-body">
              <h5 class="card-title">ONLINE WEBINAR</h5>
              <div class="card-text d-flex">
                <i class="material-icons">date_rangex</i>
                <p>
                  24 July 2021 - 29 July 2021
                </p>
              </div>
              <div class="card-text d-flex align-items-center waktu">
                <i class="material-icons">schedule</i>
                <p>                  
                  10.00 - 14.00 WIB
                </p>
              </div>
              <div class="card-button justify-content-end">
                <p class="mulai-dari text-end">Mulai dari</p>
                  <h6 class="harga text-end">Rp 90.000 / orang</h6>
              </div>
            </div>
          </div>
          </a>
        </div>  
        <div class="col-4  con-card col-card d-flex justify-content-center">
          <a href="">
            <div class="card">
              <div class="container-gambar">
                <img class="card-img-top" src="/src/img/banner/banner-card/Pink Wallpapers For iPhone Background.png" alt="Card image cap" width="100%" height="96px">
                <div class="premium d-flex align-items-center">
                  <p>
                    Premium
                  </p>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">MARKETING WEBINAR</h5>
                <div class="card-text d-flex">
                  <i class="material-icons">date_rangex</i>
                  <p>
                    24 July 2021 - 29 July 2021
                  </p>
                </div>
                <div class="card-text d-flex align-items-center waktu">
                  <i class="material-icons">schedule</i>
                  <p>                  
                    10.00 - 14.00 WIB
                  </p>
                </div>
                <div class="card-button justify-content-end">
                  <p class="mulai-dari text-end">Mulai dari</p>
                  <h6 class="harga text-end">Rp 90.000 / orang</h6>
                </div>
              </div>
            </div>
          </a> 
        </div> 
        <div class="col-4  con-card col-card d-flex justify-content-center">
          <a href="">
            <div class="card">
              <div class="container-gambar">
                <img class="card-img-top" src="/src/img/banner/banner-card/photo2 2.png" alt="Card image cap" width="100%" height="96px">
              </div>
              <div class="card-body">
                <h5 class="card-title">ONLINE WEBINAR</h5>
                <div class="card-text d-flex">
                  <i class="material-icons">date_rangex</i>
                  <p>
                    24 July 2021 - 29 July 2021
                  </p>
                </div>
                <div class="card-text d-flex align-items-center waktu">
                  <i class="material-icons">schedule</i>
                  <p>                  
                    10.00 - 14.00 WIB
                  </p>
                </div>
                <div class="card-button justify-content-end">
                  <p class="mulai-dari text-end">Mulai dari</p>
                  <h6 class="harga text-end">Rp 90.000 / orang</h6>
                </div>
              </div>
            </div>
          </a>
        </div>  
        <div class="col-4  con-card col-card d-flex justify-content-center">
          <a href="">
            <div class="card">
              <div class="container-gambar">
                <img class="card-img-top" src="/src/img/banner/banner-card/photo 3.png" alt="Card image cap" width="100%" height="96px">
                <div class="premium d-flex align-items-center">
                  <p>
                    Premium
                  </p>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">MARKETING WEBINAR</h5>
                <div class="card-text d-flex">
                  <i class="material-icons">date_rangex</i>
                  <p>
                    24 July 2021 - 29 July 2021
                  </p>
                </div>
                <div class="card-text d-flex align-items-center waktu">
                  <i class="material-icons">schedule</i>
                  <p>                  
                    10.00 - 14.00 WIB
                  </p>
                </div>
                <div class="card-button justify-content-end">
                  <p class="mulai-dari text-end">Mulai dari</p>
                  <h6 class="harga text-end">Rp 90.000 / orang</h6>
                </div>
              </div>
            </div>
          </a>
        </div> 
        <div class="col-4  con-card col-card d-flex justify-content-center">
          <a href="">
            <div class="card">
              <div class="container-gambar">
                <img class="card-img-top" src="/src/img/banner/banner-card/Nomad Art Print by matadesign.png" alt="Card image cap" width="100%" height="96px">
              </div>
              <div class="card-body">
                <h5 class="card-title">ONLINE WEBINAR</h5>
                <div class="card-text d-flex">
                  <i class="material-icons">date_rangex</i>
                  <p>
                    24 July 2021 - 29 July 2021
                  </p>
                </div>
                <div class="card-text d-flex align-items-center waktu">
                  <i class="material-icons">schedule</i>
                  <p>                  
                    10.00 - 14.00 WIB
                  </p>
                </div>
                <div class="card-button justify-content-end">
                  <p class="mulai-dari text-end">Mulai dari</p>
                  <h6 class="harga text-end">Rp 90.000 / orang</h6>
                </div>
              </div>
            </div>
          </a>
        </div> 
        <div class="col-4  con-card col-card d-flex justify-content-center">
          <a href="">
            <div class="card">
              <div class="container-gambar">
                <img class="card-img-top" src="/src/img/banner/banner-card/photo2 2.png" alt="Card image cap" width="100%" height="96px">
              </div>
              <div class="card-body">
                <h5 class="card-title">ONLINE WEBINAR</h5>
                <div class="card-text d-flex">
                  <i class="material-icons">date_rangex</i>
                  <p>
                    24 July 2021 - 29 July 2021
                  </p>
                </div>
                <div class="card-text d-flex align-items-center waktu">
                  <i class="material-icons">schedule</i>
                  <p>                  
                    10.00 - 14.00 WIB
                  </p>
                </div>
                <div class="card-button justify-content-end">
                  <p class="mulai-dari text-end">Mulai dari</p>
                  <h6 class="harga text-end">Rp 90.000 / orang</h6>
                </div>
              </div>
            </div>
          </a>
        </div>  
        <div class="col-4  con-card col-card d-flex justify-content-center">
          <a href="">
            <div class="card">
              <div class="container-gambar">
                <img class="card-img-top" src="/src/img/banner/banner-card/photo 3.png" alt="Card image cap" width="100%" height="96px">
                <div class="premium d-flex align-items-center">
                  <p>
                    Premium
                  </p>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">MARKETING WEBINAR</h5>
                <div class="card-text d-flex">
                  <i class="material-icons">date_rangex</i>
                  <p>
                    24 July 2021 - 29 July 2021
                  </p>
                </div>
                <div class="card-text d-flex align-items-center waktu">
                  <i class="material-icons">schedule</i>
                  <p>                  
                    10.00 - 14.00 WIB
                  </p>
                </div>
                <div class="card-button justify-content-end">
                  <p class="mulai-dari text-end">Mulai dari</p>
                  <h6 class="harga text-end">Rp 90.000 / orang</h6>
                </div>
              </div>
            </div>
          </a>
        </div> 
        <div class="col-4  con-card col-card d-flex justify-content-center">
          <a href="">
            <div class="card">
              <div class="container-gambar">
                <img class="card-img-top" src="/src/img/banner/banner-card/Nomad Art Print by matadesign.png" alt="Card image cap" width="100%" height="96px">
              </div>
              <div class="card-body">
                <h5 class="card-title">ONLINE WEBINAR</h5>
                <div class="card-text d-flex">
                  <i class="material-icons">date_rangex</i>
                  <p>
                    24 July 2021 - 29 July 2021
                  </p>
                </div>
                <div class="card-text d-flex align-items-center waktu">
                  <i class="material-icons">schedule</i>
                  <p>                  
                    10.00 - 14.00 WIB
                  </p>
                </div>
                <div class="card-button justify-content-end">
                  <p class="mulai-dari text-end">Mulai dari</p>
                  <h6 class="harga text-end">Rp 90.000 / orang</h6>
                </div>
              </div>
            </div>
          </a>
        </div>    
      </div>
    </div>