html,body{
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito Sans', sans-serif !important ;
    font-weight: 700 !important;
    color: black;
}

th, td{
    font-family: 'Nunito Sans', sans-serif !important ;
}

h3{
    margin-bottom: 0px !important;
}

p{
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 400;
    font-size: 14px;
}

a{
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.btn{
    border: none;
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 400;
}

.navbar{
    min-height: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 16px 0px;
}

.navbar h3{
    font-size: 24px;
    font-family: 'Nova Square', cursive !important;
}

.navbar .dropdown-menu-right { 
    right: 0; 
    left: auto; 
}

.navbar .container{
    width: 100%;
}

.navbar .container .row{
    width: 100%;
}

.navbar .container .row .col-3 h3{
    font-weight: 700;
    margin: 0px;
}

.navbar .container{
    padding: 0px;
}

.navbar .container .row .col-3{
    padding: 0px 10px;
}

.form-control{
    border: 0px;
}

.form-control .form-search{
    background-color: #F1F1F1;
    width: 100%;
    border-radius: 8px;
    border: 0px;
    padding: 8px 40px 8px 16px;
    outline: none;
}

.form-control button{
    padding: 0px;
    outline: none;
    margin-left: -35px;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.btn-daftar{
    background-color: #3D8AED;
    border-radius: 8px;
    color: white;
    padding: 8px;
    margin-right: 8px;
    width: 72px !important;
}

.icon-search{
    background: transparent;
    margin-top: 2px;
}

.icon-search i{
    font-size: 24px;
    color: #797979;
}

.link-daftar{
    color: #3D8AED;
    text-decoration: underline;
}

.btn-masuk{
    background: #FFFFFF;
    border: 1px solid #3D8AED;
    border-radius: 8px;
    color: #3D8AED;
    padding: 8px;
    margin-left: 8px;
    width: 72px !important;
}

.btn-masuk:hover{
    background: #f5f5f5;
    border: 1px solid #3D8AED;
    border-radius: 8px;
    color: #3D8AED;
    padding: 4px 16px;
    margin-left: 8px;
}

.btn-masuk:active{
    outline: none;
    background: #f5f5f5;
}

.container-caraousel{
    padding: 44px;
}

.container-dasbor{
    background: #FCFCFC;
}

.container-fluid{
    padding: 0px !important;
}

.main-row{
    margin: 0px;
    /* padding-right: 56px; */
    /* padding-left: 48px; */
}


.container-home{
    padding: 0px;
    margin: 108px 0px;
    height: 320px;
    background: #F6F6F6;
}

.container-home .row{
    padding: 0px 124px;
    height: 320px;
}

.container-home .row .col{
    height: 320px;
}

.container-home .row .col img{
    height: 320px;
    width: auto;
}

.best-seller-container{
    padding: 0px;
    margin: 0px 44px !important;
}

.best-seller-container h3{
    font-size: 24px;
    margin-bottom: 24px;
}
.best-seller-container .row .col-3{
    padding: 0px !important;
    margin-bottom: 32px;
}

.best-seller-container .row .col{
    padding: 0px;
}

.container-card{
    padding: 0px;
}

.card-img-top{
    object-fit: cover;
}

.col-card{
    padding: 0px;
}

.con-card{
    margin-bottom: 24px;
}

.card{
    width: 280px;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.25);
}

.card img{
    border-radius: 8px 8px 0px 0px;
    height: 160px;
}

.card .free{
    position: absolute;
    left: 0px !important;
    top: 0px !important;
    width: 74px!important;
    height: 74px !important;
}

.card-title{
    margin-bottom: 16px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: 400 !important;
}

.card-text svg{
    margin-right: 10px;
    color: #3D8AED !important;
    font-size: 14px !important;
}

.card-text p{
    margin-bottom: 4px;
    align-items: center;
    color: #797979;
    font-size: 12px;
}

.card-body p{
    margin-bottom: 8px !important;
}

.card-button{
    margin-top: 16px;
}

.btn-edit{
    padding: 11px;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 40px;
}

.btn-edit:hover{
    background-color: #ebebeb;
}

.btn-edit i{
    color: #797979 !important;
    font-size: 18px;
    margin: 0px !important;
}

.btn-archive{
    padding: 11px;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 16px;
    height: 40px;
}

.btn-archive:hover{
    background-color: #ebebeb;
}

.btn-archive i{
    color: #797979 !important;
    font-size: 18px;
    margin: 0px !important;
}

.fluid-recent{
    /* background-color: #EFF5FF; */
    padding: 0px;
}

.recent-event-container{
    padding:0px;
    margin: 0px 44px;
}

.recent-event-container h3{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 24px;
}

.recent-event-container .row .col-3{
    padding: 0px !important;
    margin-bottom: 32px;
}

footer{
    width: 100%;
    height: 96px;
    background-color: #F1F1F1;
}

footer .col{
    height: 96px;
}

.account{
    margin-left: 8px;
}


.account:focus{
    outline: none !important;
    box-shadow: none !important;
}

.account img{
    border-radius: 60px;
    object-fit: cover;
}

.dd-account img{
    border-radius: 60px;
    object-fit: cover;
}

.dd-account{
    margin-bottom: 24px;
}

.nama-user{
    margin-left: 16px;
    font-size: 14px;
}

.dropdown-account{
    width: 200px;
    padding: 16px 0px 19px 0px;
}

.dropdown-account .dropdown-item{
    color: black;
    font-size: 14px;
    padding: 5px 16px;
}

.dropdown-account .dropdown-item:focus{
    background: white;
    color: #3D8AED;
}

.dropdown-account .dropdown-item i:focus{
    color: #3D8AED !important; 
}

.dropdown-account .dropdown-item i{
    color: black;
    font-size: 14px;
    margin-right: 18px;
}

/* Modal */

.modal-content{
    padding: 32px 40px 40px 40px;
    width: 416px;
    height: 100%;
    border-radius: 8px;
}

.form{
    padding: 0px;
}

.form-control{
    border: 0px;
    padding: 8px 0px;
    width: 100%;
}

.header{
    padding-top: 0px;
    padding-bottom: 24px;
}

.form-nama{
    outline-style: none;
    height: 32px;
    background: #F1F1F1;
    border: 0px;
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
    box-shadow: inset 0px 4px 4px rgba(121, 121, 121, 0.1);
}

.form-email{
    outline-style: none;
    height: 32px;
    background: #F1F1F1;
    border: 0px;
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
    box-shadow: inset 0px 4px 4px rgba(121, 121, 121, 0.1);
}

.form-password{
    outline-style: none;
    height: 32px;
    background: #F1F1F1;
    border: 0px;
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
    box-shadow: inset 0px 4px 4px rgba(121, 121, 121, 0.1);
}

.form .link-password{
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
    border-radius: 8px;
    text-decoration: none;
    color: #3D3D3D;
}

.form-control .masuk{
    height: 32px;
    width: 100%;
    border-radius: 8px;
    background: #3D8AED;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.masuk{
    margin: 8px 0px 16px;
    height: 32px;
    width: 100%;
    border-radius: 8px;
    background: #3D8AED;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

 .daftar{
    margin: 24px 0px 16px;
    height: 32px;
    width: 100%;
    border-radius: 8px;
    background: #3D8AED;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

.atau-menggunakan .col-6 p{
    margin: 0px;
    color: #797979;
}

.garis{
    padding: 0px !important;
}

.btn-google{
    margin: 16px 0px 14px;
    padding: 0px;
    height: 32px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    border-radius: 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.1);
}

.google-masuk{
    margin: 16px 0px 32px;
    padding: 0px;
    height: 32px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    border-radius: 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.1);
}

.container-daftar{
    padding: 0px;
}

.premium{
    position: relative;
    margin-top: -40px;
    background: #FFD700;
    justify-content: center;
    height: 40px;
    font-size: 16px;
}

.premium svg{
    margin-right: 3px;
}

.premium p{
    font-size: 14px;
    margin-left: 3px;
}

.btn-premium{
    background-color: #FFD700;
    border-radius: 8px;
    font-size: 12px;
    margin: 0px 8px;
    padding: 8px 16px;
    width: 64px;
    padding: 4px 0px;
    
}

.btn-premium:active{
    outline: none !important;
    box-shadow: none !important;
}

.btn-buat{
    border-radius: 8px;
    padding: 6px 16px;
}

.btn-buat:active{
    outline: none !important;
    box-shadow: none !important;
}

.btn-buat:hover{
    background-color: #ebebeb;
}

.cari-event{
    font-size: 16px;
    text-decoration: none;
    color: #3D8AED;
    border-radius: 8px;
}

.cari-event:hover{
    background-color: #ebebeb;
    color: #3D8AED;
}

.dropdown-account .dropdown-item{
    color: black;
    font-size: 14px;
    padding: 5px 16px;
}

.dropdown-account .dropdown-item:focus{
    background: white;
    color: #3D8AED;
}

.dropdown-account .dropdown-item i:focus{
    color: #3D8AED !important; 
}

.dropdown-account .dropdown-item i{
    color: black;
    font-size: 14px;
    margin-right: 18px;
}

.sidebar{
    background: #FFFFFF;
    box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.25);
    padding: 20px 36px;
    /* width: 280px; */
    /* margin-right: 25px; */
}

.profile-sidebar .profile-sidebar-image img{
    border-radius: 100%;
    object-fit: cover;
}

.profile-sidebar-image{
    margin-bottom: 24px;
}

.profile-sidebar .profile-sidebar-image .button-action{
    margin-left: -40px;
    margin-bottom: -100px;
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#F1F1F1;
    height: 1px !important;
    margin: 32px 0px;
}

.button-action{
    border-radius: 20px;
    background: #F6F6F6;
    color: #797979;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 11px;
    margin-left: 16px;
    height: 40px;
    width: 40px;
}

.button-action i{
    font-size: 18px;
}

.sidebar-button-container{
    margin-bottom: 64px;
}

.sidebar-title{
    font-size: 18px;
    padding: 12px;
    color: black;
    margin-bottom: 12px;
}

.sidebar-button{
    padding: 12px;
    color: #797979 !important;
    text-decoration: none;
}

.sidebar-button-container svg{
    color: #797979 !important;
}

.sidebar-button i, ion-icon, svg{
    margin-right: 18px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.sidebar-active{
    background: #3D8AED;
    color: white !important;
    border-radius: 6px;
}

.sidebar-active i{
    color: white !important;
}

.container-list-card{
    padding: 0px 56px;
}

.status {
    color: #797979;
    text-decoration: none;
    padding: 24px 0px !important;
    margin-right: 16px;
    font-size: 16px;
    width: 160px !important;
}

.container-cards{
    padding: 0px 34px;
    /* width: 100%; */
}

.container-select{
    background: white;
    padding: 24px 0px;
    margin-bottom: 24px;
    padding-left: 52px !important;
    margin-left: 4px;
}

.container-select .form-select{
    border: 0px;
    width: 35%;
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif !important ;

}

.form-select option{
    color: #797979;
}

.form-select .last-option{
    color: #3D8AED !important;
}

.container-select .form-select:focus{
    outline: none;
    border: 0px;
    box-shadow: none;
}

.active{
    border-top-width: 0.25rem !important; 
    color: #3D8AED;
    /* border-bottom: 4px solid #3D8AED; */
    border-radius: 8px 8px 0px 0px;
}

.garis{
    border-top: 4px solid #3D8AED;
    border-radius: 8px 8px 0px 0px;
    width: 160px !important;
    margin-top: 20px;
}

.container-search-2{
    padding-top: 24px;
}

.form-search-2{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #797979;
    height: 32px;   
    padding: 4px;
    padding-right: 32px;
    width: 100%;
}

.form-search-2:focus{
    outline: 0px;
}

.icon-search-2{
    position: absolute;
    border: 0px;
    background: transparent;
    margin-left: -35px;
    width: 18px !important;
    height: 18px !important;
    font-size: 18px;
    color: #797979;
}

.container-card{
    padding: 0px;
}

.col-card{
    padding: 0px;
}

.con-card{
    margin-bottom: 24px;
}

.card{
    width: 280px;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.25);
}

.card img{
    border-radius: 8px 8px 0px 0px;
    height: 160px;
}

.card .free{
    position: absolute;
    left: 0px !important;
    top: 0px !important;
    width: 74px!important;
    height: 74px !important;
}

.card-title{
    margin-bottom: 16px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: 400;
}

.card-text svg{
    margin-right: 10px;
    color: #3D8AED !important;
    font-size: 14px !important;
}

.card-text p{
    margin-bottom: 4px;
    align-items: center;
    color: #797979;
    font-size: 12px;
}

.card-body p{
    margin-bottom: 8px !important;
}

.card-button{
    margin-top: 20px;
}


.btn-beli{
    background-color: #3D8AED;
    border-radius: 8px;
    width: 55%;
}

.fluid-recent{
    background-color: #EFF5FF;
}

.recent-event-container{
    padding-top: 48px;
    padding-bottom: 40px;
}

.recent-event-container h3{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 24px;
}

.recent-event-container .row .col-3{
    padding: 0px;
    margin-bottom: 32px;
}

.container-pagination{
    margin-top: 16px !important;
    margin-bottom: 48px !important;
}

.page-item{
    margin: 0px 4px;
}

.page-item a{
    color: #3D8AED;
    box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.15);
    border-radius: 8px !important;
}

footer{
    width: 100%;
    height: 96px;
    background-color: #F1F1F1;
}

footer .col{
    height: 96px;
}

.account img{
    border-radius: 60px;
    object-fit: cover;
}

.container-filter-2{
    margin-top: 24px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background-color: white;
    padding: 16px 20px;
    margin-bottom: 40px;
}


.card i{
    font-size: 18px !important;
    color: #3D8AED;
    width: 18px;
    margin-right: 18px;
}

.waktu p{
    margin: 0px !important;
}

.mulai-dari{
    font-size: 16px !important;
}

.harga{
    color: #3D8AED;
    font-size: 18px;
    font-weight: 400 !important;
}

.waktu p{
    margin: 0px !important;
}

.card-button p{
    color: black;
    font-size: 18px;
}

.dibeli{
    color: #219653 !important;
}

.container-riwayat{
    margin: 44px 56px 44px 56px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px 42px 42px 42px;
}

.riwayat-header{
    margin-bottom: 44px;
}

.riwayat-header h4{
    text-align: center;
}

.riwayat-header .btn-close-riwayat{
    background: transparent;
    border: 0px;
    outline: none;
    width: 14px;
    height: 14px;   
}

.riwayat-header .btn-close-riwayat i{
   color: #797979;
}

.container-gambar-riwayat{
    margin: 0px 0px 24px;
}

.judul-event-riwayat{
    font-weight: 600 !important;
    margin: 0px;
}

.btn-lihat-event{
    background: #3D8AED;
    padding: 12px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    width: 171px;
}

.tiket-keterangan p{
    font-size: 16px !important;
}

.link-container{
    text-overflow: ellipsis;
}

.header-title{
    font-weight: 700 !important;
}

.middle-header{
    font-weight: 600 !important;
    margin-top: 24px;
    margin-bottom: 16px;
}

.riwayat-nama-tiket{
    font-size: 18px;
}

.riwayat-action-title{
    font-size: 16px;
    font-weight: 600 !important;
}

.row-2-tiket{
    margin-bottom: 24px;
}

.btn-link{
    border-radius: 100% !important;
    background: #F1F1F1 !important;
    text-align: center;
    width: 48px;
    height: 48px;
    border: 0px;
    color: transparent;
    text-decoration: none;
}

.btn-link:hover{
    color: #797979;
}

.btn-link i{
    color: #797979;
    font-size: 20px;
    margin: 0px;
}

.tgl-tiket p{
    margin-bottom: 8px;
    font-size: 16px;
    color: #797979;
}

.tgl-tiket i{
    color: #797979;
    margin-right: 18px;
    font-size: 20px;
}

.riwayat-nama-tiket-pembayaran{
    font-size: 16px;
    color: black;
}

.col-question-2 p{
    color: #797979;
    font-size: 16px !important;
    margin-bottom: 8px !important;
}

.col-question{
    padding-left: 0px !important;
}

.col-question p{
    margin-bottom: 8px;
}

.col-answer-2{
    padding-left: 0px;
    color: #797979 !important;
}

.col-answer-2 p{
    margin-bottom: 8px;
    font-size: 16px;
    color: #797979 !important;
}

.col-answer{
    padding: 0px;
}

.col-answer p{
    margin-bottom: 8px;
}

.container-content hr{
    border-top: 1px solid #F1F1F1;
    margin: 24px 0px;
}

.total-riwayat-harga{
    color: #3D8AED;
}

.hr-riwayat{
    height: 2px !important;
}

.riwayat-harga-tiket{
    color: #797979;
    font-size: 16px;
}

.question p{
    font-size: 16px;
    color: #797979;
}

.answer p{
    color: black !important;
    font-size: 16px;
}

.black{
    font-size: 16px;
    color: black !important;
}

.tanggalWaktu{
    padding-left: 0px !important;
}

.tanggalWaktu p{
    font-size: 12px !important;
}

.tanggalWaktu i{
    color: #797979;
    font-size: 18px;
    margin-right: 18px;
}

.container-content{
    margin-top: 40px;
}

.container-content h4{
    font-weight: 600 !important;
}

.keterengan-pembayaran-tiket p{
    color: #797979;
}

.keterengan-pembayaran-tiket h4{
    font-weight: 600 !important;
}

.container-keterangan p{
    margin-left: 15%;
}

.container-total-pembayaran{
    margin-top: 48px;
}

.container-pembayaran h4{
    font-weight: 600 !important;
}

.jumlah-total-pembayaran{
    color: #3D8AED;
}

.rumah{
    color: white !important;
}

/* Dashboard Beranda */

.event-berlalu{
    padding: 24px;
    width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 44px 14px 24px 0px;
}

.event-berlalu p{
    color: #797979;
    font-size: 16px;
}


.event-aktif{
    padding: 24px;
    width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 44px 14px 24px 0px;
}

.event-aktif p{
    color: #797979;
    font-size: 16px;
}

.event-tersimpan{
    padding: 24px;
    width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 44px 0px 24px 0px;
}

.event-tersimpan p{
    color: #797979;
    font-size: 18px;
}

.row-filter-dashboard .col-2{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-left: 8px;
}

.select-filter-chart{
    font-family: 'Nunito Sans', sans-serif !important ;
    width: 100%;
    color: #263238;
    font-size: 18px;
    border: 0px;
    padding: 8px;
    -moz-appearance: none !important;
   -webkit-appearance: none !important;
   appearance: none !important;
}

.select-filter-chart:focus{
    outline: none;
}

.select-filter-chart option{
    padding: 200px !important;
}

.row-doughnut{
    margin-top: 10px;
}

.chart .data-view{
    padding: 24px;
    width: 416px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 24px 0px;
}

.chart .data-fav{
    padding: 24px;
    width: 416px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 24px 0px;
}

.hide{
    display: none;
}

.chart h4,i{
    color: #797979;
}

.chart i{
    font-size: 44px;
}

.chart-container{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 24px 0px;
    padding: 24px;
}

.chart-container p{
    font-size: 18px;
    color: black;
    font-weight: 600 !important;
}

.linechart-container{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 24px 0px;
    padding: 24px;
}

#totalPenjualan{
    padding: 0px;
    margin-top: 32px;
}

.judul-chart{
    font-weight: 600 !important;
    color: #263238;
}

.range-tanggal-tiket{
    font-size: 14px;
    font-weight: 400 !important;
    margin: 0px;
}

.button-range{
    background: transparent;
    border: 0px;
}

#totalPenjualanTiket{
    margin-top: 24px;
}

.container-canvas{
    height: 350px;
}

.range-tanggal-total{
    color: #8d7070 !important;
    font-size: 16px !important;
    margin-bottom: 8px;
}

.jumlah-perbulan{
    font-size: 24px !important;
    margin-bottom: 14px;
}

.container-kenaikan i{
    color: #219653 !important;
    margin-right: 7px;
}

.container-kenaikan .total-kenaikan{
    color: #219653 !important;
}


.doughnut-container{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 112px;
}

.informasi-akun{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 72px;
    margin: 24px 0px 112px 0px;
}

.informasi-akun h4{
    text-align: center;
    margin-bottom: 44px;
}

.informasi-akun .form-group{
    margin-bottom: 24px;
}

.form-informasi-akun{
    background: #F6F6F6;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px;
}

.form-informasi-akun:focus{
    background: #F6F6F6;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.informasi-akun label{
    color: #797979;
    margin-bottom: 4px;
}

.input-informasi-akun i{
    margin-left: -32px;
    visibility: hidden;
}

.input-informasi-akun.error{
    display: flex;
    align-items: center;
}

.input-informasi-akun.error input{
    border: 1px solid #ED3D3D;
}

.input-informasi-akun.error i{
    color: #ED3D3D;
    visibility: visible;
}

.input-informasi-akun.success{
    display: flex;
    align-items: center;
}

.input-informasi-akun.success input{
   border: 0px;
}

.input-informasi-akun.success i{
    color: #ED3D3D;
    visibility: hidden;
}

#inputFotoKtp{
    display: none;
}

.custom-file-upload{
    width: 100%;
    height: 320px !important;
    background: #F6F6F6;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
}

.overlay{
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 320px;
    text-align: center;
    background: rgba(0, 0, 0, 0.10);
    transition: .5s ease;
    opacity:0;
    position: relative;
    margin-top: -320px;
}

.overlay:hover{
    opacity: 1;
}

.overlay i{
    font-size: 96px;
}

.overlay h4{
    font-size: 24px;
    margin: 32px 0px 0px 0px;
}

.overlay p{
    margin: 50px 0px 0px 0px;
    font-size: 16px;
}

.form-element{
    background: #F6F6F6;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
}

  .form .grid .form-element input {
    display:none;
  }
  .form .grid .form-element img {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  .form .grid .form-element div {
    display: none;
    position:relative;
    height:40px;
    margin-top:-40px;
    background:rgba(0,0,0,0.5);
    text-align:center;
    line-height:40px;
    font-size:13px;
    color:#f5f5f5;
    font-weight:600;
  }
  .form .grid .form-element div span {
    font-size:40px;
  }

  #file-1-preview{
      width: 100%;
  }

.btn-simpan-informasi{
    margin-top: 68px;
    padding: 10px;
    background: #3D8AED;
    width: 160px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    border-radius: 6px;
}

.btn-simpan-informasi:hover{
    color: white;
}

.table-data-pemesanan{
    background: #FFFFFF;
    margin: 0px;
}

.table-data-pemesanan th{
    padding: 16px;
    background: #E0E0E0;
    color: #3D3D3D;
}

.table-data-pemesanan td{
    border: 0px;
    padding: 8px 16px 8px 16px;
    color: #797979;
}

.table-data-pemesanan p{
    margin: 0px;
}

.pending{
    font-size: 12px;
    margin: 0px;
    background: #E0E0E0;
    border: 1px solid #797979;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px;
    width: 72px;
    color: #797979;
    text-align: center;
}

.expire{
    font-size: 12px;
    margin: 0px;
    background: #FFCCD2;
    border: 1px solid #F54E62;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px;
    width: 64px;
    color: #F54E62;
    text-align: center;
}

.settlement{
    font-size: 12px;
    margin: 0px;
    background: #CCFFCC;
    border: 1px solid #6BBA50;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px;
    color: #6BBA50;
    text-align: center;
}

.table-data-pemesanan .col-3{
    padding: 0px !important;
}

.export-laporan{
    background: #3D8AED;
    padding: 8px;
    color: white;
    width: 200px;
}

.export-laporan:hover{
    color: white;
}

.export-laporan i{
    color: white;
    font-size: 18px;
    margin: 0px 14px 0px 0px;
}

.export-container{
    padding: 24px;
    background: white;
    border-radius: 8px 8px 0px 0px;
}

.export-container h4{
    color: #797979 !important;
    font-weight: 600 !important;
}

.row-table{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0px 43px;
}

.row-table th{
    border: 0px;
}

.row-table td{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jumlah-pemesan{
    background-color: #F6F6F6 !important; 
    padding: 24px 24px 24px 8px;
    border-radius: 0px 0px 8px 8px;
}

.jumlah-pemesan p{
    margin-bottom: 0px;
}

.jumlah-pemesan span{
    color: red;
}

.container-order-data{
    padding-left: 36px;
}

.row-nama-event{
    padding: 24px 0px;
    margin-bottom: 24px;
    margin-left: 1px;
}

.row-nama-event h4{
    font-weight: 400 !important;
}

.informasi-transaksi{
    padding: 24px 12px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    margin-left: 1px;
}

.informasi-transaksi h4{
    color: #797979;
    font-weight: 400;
}

.container-informasi .table-head{
    color: #797979;
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
}

.container-informasi{
    padding: 0px !important;
    border-top: 1px solid #E0E0E0;
}

.container-informasi .table-body{
    font-size: 16px;
    margin: 0px;
}

.container-informasi .table-informasi{
    padding: 16px;
    background: #FFE9DE;
    border-radius: 8px;
    margin: 24px 12px 0px 16px;
    width: 21.5%;
}

.detail-table-pesanan{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-right: 16px;
    margin-left: 1px;
}

.detail-table-pesanan h4{
    color: #797979;
    font-weight: 600;
    margin-bottom: 20px;
}

.detail-pesanan{
    border-top: 1px solid #E0E0E0;
    padding-top: 24px;
}

.detail-table-pesanan p{
    font-size: 16px;
}

.detail-pesanan .left{
    color: #797979;
}

.detail-pesanan .right{
    color: black;
}

.detail-table-pelanggan{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-left: 16px;

}

.detail-table-pelanggan h4{
    color: #797979;
    font-weight: 600;
    margin-bottom: 20px;
}

.detail-pelanggan{
    border-top: 1px solid #E0E0E0;
    padding-top: 24px;
}

.detail-table-pelanggan p{
    font-size: 16px;
}

.detail-pelanggan .left{
    color: #797979;
}

.detail-pelanggan .right{
    color: black;
}

.row-table-detail-tiket{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 24px 0px 112px 0px;
}

.row-table-detail-tiket th{
    border: 0px;
}

.row-table-detail-tiket .jumlah-pemesan{
    background-color: white !important; 
    padding: 24px 24px 24px 8px;
    border-radius: 0px 0px 8px 8px;
    border-top: 1px solid #E0E0E0;
}

.row-table-detail-tiket .jumlah-pemesan p{
    font-weight: 600 !important;
    color: #3D3D3D;
    font-size: 16px;
}

.table-data-pemesanan tr:hover{
    background-color: #ebebeb;
}

.table-data-pemesanan tr td a{
    color: #797979;
    font-size: 16px;
}

.empty{
    padding: 16px !important;
}

.empty .alert{
    margin: 0px;
    background: #CCFFCC;
    color: #009900;
    font-size: 18px;
}

.not-found{
    padding: 16px !important;
}

.not-found .alert{
    margin: 0px;
    background: #FFFFCC;
    color: #997300;
    font-size: 18px;
}

#uploadPp{
    display: none;
}

.tr-negative:hover{
    background: white !important;
}

.nama-user-sidebar{
    text-align: center;
}


/* Dasbor terbaru */
.komponent-dashboard{
    padding: 24px 12px;
}

.isi-komponent{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px;
    height: 136px;
}

.mata{
    font-size: 44px !important;
}

.col-ket{
    margin-left: 24px;
}

.col-ket h4{
    font-weight: 400 !important;
    margin-bottom: 16px;
    color: #797979;
}

.col-ket h2{
    margin: 0px;
    font-weight: 600 !important;
}

.col-ket-2 h4{
    
    color: #797979;
    font-size: 18px;
    font-weight: 400 !important;
    margin-bottom: 26px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.col-ket-2 h4 .ion-paper{
    margin-right: -1px;
    width: 20px;
    height: 20px;
}

.icons-love{
    margin-right: 18px !important;
    font-size: 22px !important;
}

.col-ket-2 h2{
    /* margin-top: 28px; */
    font-size: 24px;
    font-weight: 600 !important;
    text-align: center !important;
}

.col-ket-2 .col-12 svg{
    width: 20px;
    height: 20px;
}

.col-ket-2 svg{
    width: 20px !important;
    height: 16px !important;
    margin-right: 10px;
}

.jadwal-berlalu{
    font-size: 20px !important;
    margin-right: 18px;
}

.money-icon{
    font-size: 44px !important;
}

/* Ubah PW */

.row-ubahpw{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 72px;
    margin: 56px 22px;
}

.row-ubahpw h4{
    text-align: center;
    margin-bottom: 72px;
}

.form-control-ubahpw {
    margin: 4px 0px;
}

.form-control-ubahpw .col-2{
    margin-right: 16px;
}

.form-control-ubahpw .col-2 p{
    margin: 0px;
    font-size: 16px;
}

.form-control-ubahpw input{
    background: #F6F6F6;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    height: 40px;
    padding: 8px;
    width: 100%;
}

.form-control-ubahpw input:focus{
    background: #F6F6F6;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.ubahpw-simpan a{
    font-size: 16px;
}

.ubahpw-simpan{
    margin-top: 60px;
}

.btn-simpan-ubahpw{
    background: #3D8AED;
    color: white;
    font-size: 24px;
    border-radius: 6px;
    padding: 4px 32px !important;
}