html, body {
    height: 100%;
    /* background: rgba(153, 194, 255, 0.5); */
    background: url('/src/img/forgot-pw-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

small{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.btn{
    border: none;
}


.container-fluid{
    padding: 0px;
    /* background: white; */
}

.navbar{
    background: white;
    padding: 0px;
    height: 64px;
    box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.25);
}

.navbar h1{
    margin: 8px 0px 16px 0px;
    padding-left: 80px;
    font-size: 24px;
    font-family: 'Nova Square', cursive;
}

.navbar .container{
    margin: 20px 0px;
}

.form{
    margin-top: 8%;
    width: 33% !important;
    text-align: center;
    border: 0px;
}

.form h1{
    font-size: 30px;
    margin: 0px;
}

.fgpw-text{
    font-size: 14px;
    margin-bottom: 16px;
}

.form-control-fgpw{
    padding: 8px 0px 8px 0px;
    border: none;
    display: flex;
    background: transparent;
}

.container-form-fgpw small{
    color: #ED3D3D;
}

.email-fgpw i{
    margin-left: -30px;
    color: #ED3D3D;
}



.form-fgpw{
    outline-style: none;
    padding: 8px 16px;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: #F1F1F1;
    padding-right: 32px;
}

.form-fgpw-wrong{
    border: 1px solid #ED3D3D;
}

.btn-submit-fgpw{
    font-family: 'Nunito Sans', sans-serif;
    outline-style: none;
    width: 100%;    
    background: #3D8AED;
    border-radius: 8px;
    height: 40px;
    font-size: 14px;
}

.btn-kembali{
    font-family: 'Nunito Sans', sans-serif;
    outline-style: none;
    width: 100%;    
    background: #3D8AED;
    border-radius: 8px;
    height: 32px;
    margin: 8px 0px;
    color: white;
}

.alert{
    position: absolute;
    z-index: 1;
    margin-top: 24px;
    padding: 24px;
    width: 712px;
}

.alert-warning{
    color: #997300;
    background: #FFFFCC;
}

.alert-warning span{
    color: #997300;
    font-size: 20px;
}

.alert-success{
    color: #009900;
    background: #CCFFCC;
}

.alert-success span{
    color: #009900;
    font-size: 20px
}