h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin: 0px;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
}

a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

h6{
    font-weight: 400;
}

.btn{
    border: none;
}

.navbar{
    min-height: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 16px 0px;
}

.navbar .dropdown-menu-right { 
    right: 0; 
    left: auto; 
}

.navbar .container{
    width: 100%;
}

.navbar .container .row{
    width: 100%;
}

.navbar .container .row .col-3 h3{
    font-weight: 700;
    margin: 0px;
}

.navbar .container{
    padding: 0px;
}

.navbar .container .row .col-3{
    padding: 0px 10px;
}

.navbar h3{
    font-size: 24px;
    font-family: 'Nova Square', cursive !important;
}

.form-control{
    border: 0px;
}

.form-control .form-search{
    background-color: #F1F1F1;
    width: 100%;
    border-radius: 8px;
    border: 0px;
    padding: 8px 40px 8px 16px;
    outline: none;
}

.form-control button{
    padding: 0px;
    outline: none;
    margin-left: -35px;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.btn-daftar{
    background-color: #3D8AED;
    border-radius: 8px;
    color: white;
    padding: 8px;
    margin-right: 8px;
    width: 72px !important;
}

.link-daftar{
    color: #3D8AED;
    text-decoration: underline;
}

.btn-masuk{
    background: #FFFFFF;
    border: 1px solid #3D8AED;
    border-radius: 8px;
    color: #3D8AED;
    padding: 8px;
    margin-left: 8px;
    width: 72px !important;
}

.btn-masuk:hover{
    background: #f5f5f5;
    color: #3D8AED;
}

.btn-masuk:active{
    outline: none;
    background: #f5f5f5;
}

.container-caraousel{
    padding: 44px;
}

.container-home{
    margin: 108px 0px;
    height: 320px;
    background: #F6F6F6;
}

.container-home .row{
    padding: 0px 124px;
}

.container-home .row .col{
    height: 320px;
}

.container-home .row .col-4 img{
    height: 320px;
    width: auto;
}

.best-seller-container{
    padding: 0px;
    margin: 0px 44px !important;
}

.best-seller-container h3{
    font-size: 24px;
    margin-bottom: 24px;
}
.best-seller-container .row .col-3{
    padding: 0px !important;
    margin-bottom: 32px;
}

.best-seller-container .row .col{
    padding: 0px;
}

.card{
    width: 280px;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.25);
}

.card-img-top{
    object-fit: cover;
}

.card img{
    border-radius: 8px 8px 0px 0px;
    height: 160px;
}

.card .free{
    position: absolute;
    left: 0px !important;
    top: 0px !important;
    width: 74px!important;
    height: 74px !important;
}

.card-title{
    margin-bottom: 16px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: 400;
}

.card-text svg{
    margin-right: 10px;
    color: #3D8AED !important;
    font-size: 14px !important;
}

.card-text p{
    margin-bottom: 4px;
    align-items: center;
    color: #797979;
    font-size: 12px;
}

.card-body p{
    margin-bottom: 8px !important;
}

.card-button{
    margin-top: 16px;
}

.btn-beli{
    background-color: #3D8AED;
    border-radius: 8px;
    width: 55%;
}

.fluid-recent{
    /* background-color: #EFF5FF; */
    padding: 0px;
}

.recent-event-container{
    padding:0px;
    margin: 0px 44px;
}

.recent-event-container h3{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 24px;
}

.recent-event-container .row .col-3{
    padding: 0px !important;
    margin-bottom: 32px;
}

footer{
    width: 100%;
    height: 96px;
    background-color: #F1F1F1;
}

footer .col{
    height: 96px;
}

.account{
    margin-left: 8px;
}


.account:focus{
    outline: none !important;
    box-shadow: none !important;
}

.account img{
    border-radius: 60px;
    object-fit: cover;
}

.dd-account img{
    border-radius: 60px;
    object-fit: cover;
}

.dd-account{
    margin-bottom: 24px;
}

.nama-user{
    margin-left: 16px;
    font-size: 14px;
}

.dropdown-account{
    width: 200px;
    padding: 16px 0px 19px 0px;
}

.dropdown-account .dropdown-item{
    color: black;
    font-size: 14px;
    padding: 5px 16px;
}

.dropdown-account .dropdown-item:focus{
    background: white;
    color: #3D8AED;
}

.dropdown-account .dropdown-item i:focus{
    color: #3D8AED !important; 
}

.dropdown-account .dropdown-item i{
    color: black;
    font-size: 14px;
    margin-right: 18px;
}

/* Modal */

.modal-content{
    padding: 32px 40px 40px 40px;
    width: 416px;
    height: 100%;
    border-radius: 8px;
}

.form{
    padding: 0px;
}

.form-control{
    border: 0px;
    padding: 8px 0px;
    width: 100%;
}

.header{
    padding-top: 0px;
    padding-bottom: 24px;
}

.form-nama{
    outline-style: none;
    height: 32px;
    background: #F1F1F1;
    border: 0px;
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
    box-shadow: inset 0px 4px 4px rgba(121, 121, 121, 0.1);
}

.form-email{
    outline-style: none;
    height: 32px;
    background: #F1F1F1;
    border: 0px;
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
    box-shadow: inset 0px 4px 4px rgba(121, 121, 121, 0.1);
}

.form-password{
    outline-style: none;
    height: 32px;
    background: #F1F1F1;
    border: 0px;
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
    box-shadow: inset 0px 4px 4px rgba(121, 121, 121, 0.1);
}

.form .link-password{
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
    border-radius: 8px;
    text-decoration: none;
    color: #3D3D3D;
}

.form-control .masuk{
    height: 32px;
    width: 100%;
    border-radius: 8px;
    background: #3D8AED;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.masuk{
    margin: 8px 0px 16px;
    height: 32px;
    width: 100%;
    border-radius: 8px;
    background: #3D8AED;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

 .daftar{
    margin: 24px 0px 16px;
    height: 32px;
    width: 100%;
    border-radius: 8px;
    background: #3D8AED;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

.atau-menggunakan .col-6 p{
    margin: 0px;
    color: #797979;
}

.garis{
    padding: 0px !important;
}

.btn-google{
    margin: 16px 0px 14px;
    padding: 0px;
    height: 32px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    border-radius: 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.1);
}

.google-masuk{
    margin: 16px 0px 32px;
    padding: 0px;
    height: 32px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    border-radius: 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.1);
}

.container-daftar{
    padding: 0px;
}

.premium{
    position: relative;
    margin-top: -40px;
    background: #FFD700;
    justify-content: center;
    height: 40px;
    font-size: 16px;
}

.premium svg{
    margin-right: 3px;
}

.premium p{
    font-size: 14px;
    margin-left: 3px;
}

.btn-premium{
    background-color: #FFD700;
    border-radius: 8px;
    font-size: 12px;
    margin: 0px 8px;
    padding: 8px 16px;
    width: 64px;
    padding: 4px 0px;
    
}

.btn-premium:active{
    outline: none !important;
    box-shadow: none !important;
}

.btn-buat{
    border-radius: 8px;
    padding: 8px;
}

.btn-buat:active{
    outline: none !important;
    box-shadow: none !important;
}

.btn-buat:hover{
    background-color: #ebebeb;
}

.cari-event{
    font-size: 16px;
    text-decoration: none;
    color: #3D8AED;
    border-radius: 8px;
    padding: 8px;
}

.cari-event:hover{
    background-color: #ebebeb;
    color: #3D8AED;
}

i{
    font-size: 18px !important;
    color: #3D8AED;
    width: 18px;
    margin-right: 18px;
}

.waktu p{
    margin: 0px !important;
}

.mulai-dari{
    font-size: 16px !important;
}

.harga{
    color: #3D8AED;
    font-size: 18px;
}

.btn-action-beli{
    width: 136px;
    border-radius: 8px;
    font-size: 16px;
    background: #3D8AED;
    padding: 8px !important;
    margin-right: 24px;
}

.btn-action-buat{
    width: 136px;
    border-radius: 8px;
    font-size: 16px;
    background: transparent;
    padding: 8px !important;
    color: #3D8AED;
    border: 1px solid #3D8AED;
}

.btn-action-buat:hover{
    background: #ebebeb;
    color: #3D8AED;
    border: 1px solid #3D8AED;
}

.container-home .col-8 h4{
    margin-bottom: 16px;
}

.container-home .col-8 p{
    margin-bottom: 24px;
    font-size: 18px;
}

.container-home .col-8{
    padding-left: 64px !important;
}



.alert{
    position: absolute;
    z-index: 1;
    margin-top: 24px;
    padding: 24px;
    width: 712px;
}

.alert-warning{
    color: #997300;
    background: #FFFFCC;
}

.alert-warning span{
    color: #997300;
    font-size: 20px;
}